<main class="py-8">
  <div class="text-center">
    <h1 class="text-2xl font-semibold">
      Notes for <%= @patient.name %>
    </h1>

    <%= link_to "Add a new note", new_patient_note_path(@patient), class: "hover:text-blue-700 mt-1 inline-block" %>
  </div>

  <div class="grid grid-cols-3 mt-8 max-w-5xl w-full mx-auto gap-4">
    <%= render @notes %>
  </div>
</main>
